{% extends 'base.html' %}
{% block title %}
    NTD Library | Курсы
{% endblock %}
{% block category %}
    <!-- Empty special -->
{% endblock %}

{% block content %}
    <div id="content_header"></div>
    <div id="site_content">
    <a href="/admpanel/">назад</a>

    <h1>Список категорий</h1>
    <ul>

        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
        </li>
        {% endfor %}
    </ul>

	<div>
		<li><a href="/courses-list/">Список курсов</a></li>
		<li><a href="/create-course/">Создать курс</a></li>
	</div>
    </div>
{% endblock %}