<div class="sidebar">
    <!-- insert your sidebar items here -->
    <h3>Категории</h3>
    <ul>
        <li><a href="#">Земляные работы</a></li>
        <li><a href="#">Геодезические работы</a></li>
        <li><a href="#">Сварочные работы</a></li>
        <li><a href="#">Строительные конструкции</a></li>
    </ul>
    <h3>Поиск</h3>
    <form method="post" action="#" id="search_form">
        <p>
            <input class="search" type="text" name="search_field" value="" placeholder="Введите данные"/>
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;"
                   src="../static/img/search.png" alt="Поиск" title="Search"/>
        </p>
    </form>
</div>