{% extends 'base.html' %}

{% block content %}
        <div id="content">
            <!-- insert the page content here -->
            <h1>База нормативной документации для помощи в работе</h1>
            <p>Cетевая версия библиотеки нормативной документации,
                представляющая собой условно-бесплатно распространяемую информационную систему.</p>
            <h2>Основные направления:</h2>
            <ul class="main_list">
                <li><a href="#"><img src="/static/img/img_index_1.jpg"><br>
                    Обследование зданий и сооружений</a></li>
                <li><a href="#"><img src="/static/img/img_index_2.jpg"><br>
                    Мониторинг зданий и сооружений</a></li>
                <li><a href="#"><img src="/static/img/img_index_3.jpg"><br>
                    Испытание бетона</a></li>
            </ul>
            <br>
            <br>
            <ul class="main_list">
                <li><a href="#"><img src="/static/img/img_index_4.jpg"><br>
                    Испытания грунтов</a></li>
                <li><a href="#"><img src="/static/img/img_index_5.jpg"><br>
                    Испытания кирпича, блоков, камня</a></li>
                <li><a href="#"><img src="/static/img/img_index_6.jpg"><br>
                    Определение длины и сплошности свай</a></li>
            </ul>
            <br>
            <br>
            <ul class="main_list">
                <li><a href="#"><img src="/static/img/img_index_7.jpg"><br>
                    Контроль сварных швов</a></li>
                <li><a href="#"><img src="/static/img/img_index_8.jpg"><br>
                    Испытания асфальтобетона</a></li>
                <li><a href="#"><img src="/static/img/img_index_9.jpg"><br>
                    Тепловизионный контроль</a></li>
            </ul>
        </div>
{% endblock %}
